body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(32, 32, 32);
  margin-bottom: 0;
  padding: 0;
  nav {
    position: relative;
    float: right;
    margin-top: 1.5em;
    margin-bottom: auto;
  }

  a {
    margin-right: 1em;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
  }

  .Logo {
    width: 3em;
    margin: 0.5em;
    cursor: pointer;
  }
}

.hero {
  position: absolute;
  padding: 0;
  height: 92vh;
  width: 100vw;
  background-color: rgb(24, 24, 24);

  .Hero-text {
    margin-top: 4em;
    font-size: 50px;
    color: white;
    text-align: center;
  }

  .Hero-CTA {
    margin-top: 6em;
    text-align: center;
    button {
      font-size: 2em;
      text-align: center;
      padding: 0.5em 1em;
      border: none;
      margin: 1em 2em;
      border-radius: 1em;
      cursor: pointer;
    }
  }
}
