html {
  font-size: 16px;
}

@media (max-width: 1150px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 7px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(32, 32, 32);
}

div {
  margin: 0;
}

header {
  position: absolute;
  min-height: 7vh;
  background-color: rgb(32, 32, 32);
  margin-bottom: 0;
  padding: 0;
  width: 100vw;
  nav {
    position: relative;
    float: right;
    margin-top: 2vh;
  }

  a {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }

  .Logo {
    width: 5vh;
    margin: 0.5rem;
    cursor: pointer;
  }
}

.hero {
  margin-top: 7vh;
  position: absolute;
  padding: 0;
  height: 93vh;
  width: 100vw;
  background-color: rgb(32, 32, 32);
  background-image: url(./img/HeroBG.png);
  background-repeat: no-repeat;
  background-size: 100vw;

  .Hero-text {
    margin-top: 18rem;
    font-size: 4rem;
    color: white;
    text-align: center;
  }

  .Hero-CTA {
    margin-top: 6rem;
    text-align: center;
    button {
      font-size: 2rem;
      text-align: center;
      padding: 0.5rem 1rem;
      border: none;
      margin: 1rem 2rem;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
}

.About-text {
  margin-top: 20vh;
  text-align: center;
  border: white 5px solid;
  color: rgb(32, 32, 32);
  background-color: white;
}

.pageBody {
  height: 100vh;
  width: 100vw;
  background-color: rgb(32, 32, 32);
  background-image: url(./img/HeroBG.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  .cardContainer {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .card {
      margin: 5vw;
      margin-top: 10vw;
      overflow: hidden;
      width: 30vw;
      height: 50vh;
      background-color: black;
      border: black solid 3px;
      box-shadow: black 2px 3px 5px;
      display: flex;
      flex-basis: auto;
      border-radius: 2em;
      img {
        width: 100%;
        height: 55vh;
      }
      .aboutGame {
        width: 100%;
        position: relative;
        float: right;
        color: white;
        h1 {
          text-align: center;
          margin-top: 15%;
        }
        p {
          margin: 15% 10%;
          margin-bottom: 0;
        }
        button {
          background-color: rgb(32, 32, 32);
          color: white;
          font-size: 2vh;
          text-align: center;
          padding: 1vh 1.5vh;
          border: none;
          margin: 0 4vw;
          border-radius: 1rem;
          cursor: pointer;
          position: absolute;
          bottom: 3vh;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .pageBody {
    .cardContainer {
      grid-template-columns: repeat(1, 1fr);
      .card {
        margin-top: 15vh;
        margin-left: 10vw;
        width: 60vw;
        .aboutGame {
          display: inline;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .pageBody {
    .cardContainer {
      .card {
        img {
          display: none;
        }
        .aboutGame {
          h1 {
            font-size: 5rem;
          }
          p {
            font-size: 1.5rem;
          }
          button {
            margin: 0 20vw;
          }
        }
      }
    }
  }
}

#team {
  margin-top: 8rem;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    .personCard {
      overflow: hidden;
      border-radius: 2rem;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: rgb(80, 80, 80);
        li {
          img {
            width: 40%;
            border: rgb(189, 189, 189) solid 3px;
          }
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  #team {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
