body {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  background-color: rgb(32, 32, 32);
  margin-bottom: 0;
  padding: 0;
  width: 100vw;
  nav {
    position: relative;
    float: right;
    margin-top: 1.5rem;
    margin-bottom: auto;
  }

  a {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
  }

  .Logo {
    width: 3rem;
    margin: 0.5rem;
    cursor: pointer;
  }
}

.hero {
  margin-top: 7vh;
  position: absolute;
  padding: 0;
  height: 93vh;
  width: 100vw;
  background-color: rgb(32, 32, 32);
  background-image: url(./img/HeroBG.png);
  background-repeat: no-repeat;
  background-size: 100vw;

  .Hero-text {
    margin-top: 18rem;
    font-size: 4rem;
    color: white;
    text-align: center;
  }

  .Hero-CTA {
    margin-top: 6rem;
    text-align: center;
    button {
      font-size: 2rem;
      text-align: center;
      padding: 0.5rem 1rem;
      border: none;
      margin: 1rem 2rem;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
}
