html {
  font-size: 16px;
}

@media (max-width: 1150px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 7px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #202020;
}

div {
  margin: 0;
}

header {
  position: absolute;
  min-height: 7vh;
  background-color: #202020;
  margin-bottom: 0;
  padding: 0;
  width: 100vw;
}

header nav {
  position: relative;
  float: right;
  margin-top: 2vh;
}

header a {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

header .Logo {
  width: 5vh;
  margin: 0.5rem;
  cursor: pointer;
}

.hero {
  margin-top: 7vh;
  position: absolute;
  padding: 0;
  height: 93vh;
  width: 100vw;
  background-color: #202020;
  background-image: url(./img/HeroBG.png);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.hero .Hero-text {
  margin-top: 18rem;
  font-size: 4rem;
  color: white;
  text-align: center;
}

.hero .Hero-CTA {
  margin-top: 6rem;
  text-align: center;
}

.hero .Hero-CTA button {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border: none;
  margin: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.About-text {
  margin-top: 20vh;
  text-align: center;
  border: white 5px solid;
  color: #202020;
  background-color: white;
}

.pageBody {
  height: 93vh;
  width: 100vw;
  background-color: #202020;
  background-image: url(./img/HeroBG.png);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.pageBody .cardContainer {
  margin: 0 10vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.pageBody .cardContainer .card {
  margin: 5vw;
  margin-top: 10vw;
  overflow: hidden;
  width: 30vw;
  height: 50vh;
  background-color: black;
  border: black solid 3px;
  -webkit-box-shadow: black 2px 3px 5px;
          box-shadow: black 2px 3px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  border-radius: 2em;
}

.pageBody .cardContainer .card img {
  width: 100%;
  height: 55vh;
}

.pageBody .cardContainer .card .aboutGame {
  width: 100%;
  position: relative;
  float: right;
  color: white;
}

.pageBody .cardContainer .card .aboutGame h1 {
  text-align: center;
  margin-top: 15%;
}

.pageBody .cardContainer .card .aboutGame p {
  margin: 15% 10%;
  margin-bottom: 0;
}

.pageBody .cardContainer .card .aboutGame button {
  background-color: #202020;
  color: white;
  font-size: 2vh;
  text-align: center;
  padding: 1vh 1.5vh;
  border: none;
  margin: 0 4vw;
  border-radius: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 3vh;
}

@media (max-width: 1200px) {
  .pageBody .cardContainer {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .pageBody .cardContainer .card {
    margin-top: 15vh;
    margin-left: 10vw;
    width: 60vw;
  }
  .pageBody .cardContainer .card .aboutGame {
    display: inline;
  }
}

@media (max-width: 700px) {
  .pageBody .cardContainer .card img {
    display: none;
  }
  .pageBody .cardContainer .card .aboutGame h1 {
    font-size: 5rem;
  }
  .pageBody .cardContainer .card .aboutGame p {
    font-size: 1.5rem;
  }
  .pageBody .cardContainer .card .aboutGame button {
    margin: 0 20vw;
  }
}

#team {
  margin-top: 8rem;
}

#team .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

#team .grid .personCard {
  overflow: hidden;
  border-radius: 2rem;
}

#team .grid .personCard ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #505050;
}

#team .grid .personCard ul li {
  font-size: 2rem;
}

#team .grid .personCard ul li img {
  width: 40%;
  border: #bdbdbd solid 3px;
}

@media (max-width: 650px) {
  #team .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */